.projodr {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}

.projitem {
	height: 180px;
	width: 180px;
	margin: 40px;
	border-width: 3px;
	border-style: solid;
	border-color: #3a4750;
	border-radius: 25px;
	color: #303841;
}

.projpage {
	padding: 10px;
	font-size: 1.17em;
	color: #303841;
}

p.projpage{
	padding: 0px;
	margin-left:10px;
	font-size: 1em;
	color: #303841;
}

.projpage:hover {
	color: #000000;
}

.projimg {
	border-radius: 25px 25px 0px 0px;
	width: 180px;
	height:100px;
}
