hr {
	height:3px;
	border-color: #be3144;
	background-color: #be3144;
	margin-top: 0px;
}

.projodr {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}

.projitem {
	height: 180px;
	width: 180px;
	margin: 40px;
	border-width: 3px;
	border-style: solid;
	border-color: #3a4750;
	border-radius: 25px;
	color: #303841;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projitem:hover {
	box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 30px 30px 0 rgba(0, 0, 0, 0.19);
}

.projpage {
	padding: 10px;
	font-size: 1.17em;
	color: #303841;
}

p.projpage{
	padding: 0px;
	margin-left:10px;
	font-size: 1em;
	color: #303841;
}

.projpage:hover {
	color: #000000;
}

.projimg {
	border-radius: 25px 25px 0px 0px;
	width: 180px;
	height:100px;
	background-color: #be3144;
}
