@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&display=swap');

:root {
	--accent1: #be3144;
	--accent2: #A51427;
	--accent3: #CF3E52;
	--accent4: #303841;
	--accent5: #3a4750;	

	--contrast: #d3d6db;
	--contrast-dark: #303841;

	--shadow: #000000;
	--border-color: #ffffff;

	--taskbar: #3a4750;
	--scrollbar: #3a4750;
	

	--text-color-light: #f2f2f2;
	--text-color-dark: #000000;
	--text-font-header: "Press Start 2P", system-ui;
	--text-font-body: Courier Prime, Courier New, Consolas, Roboto Mono, Arial;

	--background-color: #E6E6E6;
	--background-svg: url('assets/background-svg.svg');

}

.press-start-2p-large {
  font-family: var(--text-font-header);
  font-weight: 400;
  font-style: normal;
}

.press-start-2p-regular {
  font-family: var(--text-font-header);
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

.press-start-2p-sub {
  font-family: var(--text-font-header);
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--contrast);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent4);
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: var(--accent1);
}


body {
	background-color: var(--background-color);
	background-image: var(--background-svg);
  	background-size: cover;
  	background-repeat: repeat-y;
  	background-position: center;

	color: var(--accent4);
	font-family: var(--text-font-body);
}

hr.normal {
	width: 44%;
	height:1px;
	text-align: left;
	border-color: var(--accent5);
	background-color: var(--accent4);
	margin-top: 0px;
	margin-left: 30px;
}

h1 {
	color: var(--accent1);
	font-size: 72px;
	text-shadow: 6px 6px var(--shadow);
	margin-left: 50px;
	margin-bottom: 15px;
}

button {
	border-radius: 10px;
	border: none;
	background-color: var(--accent1);
	color: var(--text-color-light);
	box-shadow:3px 3px var(--shadow);
	margin: 5px;
	padding: 5px;
	font-size: 25px;
	font-family:Courier Prime, Courier New, Consolas, Roboto Mono, Arial;
}

button:hover {
	background-color: var(--accent3);
}

button:active {
  background-color: var(--accent2);
  box-shadow:2px 2px var(--shadow);
  transform: translateY(4px);
}

.topnav {
  background-color: var(--taskbar);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--text-color-light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--accent4);
  color: var(--contrast);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--accent1);
  color: var(--contrast);
}

.color-scheme {
	float: right;
	text-align: center;
	height: 15px;
	width: 15px;
	border: 3px solid var(--border-color);
	margin: 10px;
}

.color-scheme:hover {
	border: 4px solid var(--border-color);
}

.main-content-pane {
	display: flex;
    align-items: center;
    justify-content: center;
	padding: auto;
	margin: auto;
}

.pdf {
        width: 100%;
        height: 100%;
        aspect-ratio: 5 / 3;
    }
